.container {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.button-container {
    text-align: center;
}

.btn {
    text-transform: uppercase;
    background: transparent;
    
}